* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}


.github-repos {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.js-error-message {
    color: red;
}

.user {
    color: blue;
}

.repo-name {
    color: green;
}
